* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../paper_uniba_rdd.png");
 }

header h1 {
  padding: 10px 0;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

#wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
}

#stage {
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
}

#progressbar {
  width: 100%;
  height: 5px;
  background-color: #6ac1ae;
}

#stage > .inner {
  width: 100%;
  height: 100%;
  position: absolute;
}

#cube {
  margin: 0 auto;
  position: relative;
  top: 50%;  
  -webkit-transform-style: preserve-3d;
  /* -webkit-transform: rotateY(30deg); */
}

#cube > .inner {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  top: -50px;
  position: relative;
  opacity: 0.9;
  -webkit-transform-style: preserve-3d;
}

#cube div:not(.inner) {
  width: 100px;
  height: 100px;
  position: absolute;
  background-size: 100px 100px;
}

.side-a {
  -webkit-transform: translateZ(50px);
}

.side-b {
  left: 50px;
  background-image: url("../images/twittaction_bird_left.png");
  -webkit-transform: rotateY(90deg);
}

.side-c {
  background-image: url("../images/twittaction_bird_back.png");
  -webkit-transform: rotateX(90deg);
  -webkit-transform: translateZ(-50px);
}

.side-d {
  left: -50px;
  background-image: url("../images/twittaction_bird_right.png");
  -webkit-transform: rotateY(-90deg);
}

.side-e {
  top: -50px;
  background-image: url("../images/twittaction_bird_over.png");
  -webkit-transform: rotateX(90deg);
}

.side-f {
  top: 50px;
  background-image: url("../images/twittaction_bird_under.png");
  -webkit-transform: rotateX(90deg);
}

.birdfoot {
  top: 90px;
  background-image: url("../images/twittaction_bird_foot.png");
}